<!DOCTYPE HTML>

<html>
<head>
    <title>su casa</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<!--    <link rel="stylesheet" href="/main.css"/>-->
</head>
<body>

<!-- Nav -->
<nav id="nav">
    <ul class="container">
        <li><a href="#parties">parties</a></li>
        <li><a href="#studios">studios</a></li>
        <li><a href="#portfolio">how to add information?</a></li>
    </ul>
</nav>

{% for party in data %}
<h2>{{ party.shortName }} | {{ party.date}}, адрес {{party.address}}</h2>
<p>{{party.description}}</p>
{% endfor %}


</body>
</html>